<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hamburgers@1.2.1/dist/hamburgers.min.css">
<style>
  .anchore-bg {
    background-color: #1b1c1d !important; 
  }
  
  .anchore-cta-header-links {
  	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    list-style: none;
    overflow: hidden;
    text-decoration: none;
    border-radius: 49px;
    border-image: none 100% 1 0 stretch;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    user-select: none;
    text-align: center;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    border-width: .8px;
    border-style: solid;
    transition-behavior: normal, normal, normal, normal;
    text-wrap: nowrap;
    white-space-collapse: collapse;
    line-height: 16px;
    display: inline-block;
    color: #fff;
    border-color: #143682;
    background-color: #0e40c0;
    font-size: 15px;
    min-width: 8em;
    margin-left: .5em;
    padding: 8px;

    @media (prefers-reduced-motion: reduce) {
      transition: none 0s;
      transition-behavior: normal;
    }

    :hover {
      background-color: transparent;
      border-color: #0d40b4;
      color: #0d40b4;
    }

  

:focus-visible {
  outline: 0;
  color: #193061;
  box-shadow: none;
  background-color: transparent;
}

:first-child:active {
  color: #193061;
  background-color: transparent;
}

:active {
  color: #193061;
  background-color: transparent;
}

:first-child:active:focus-visible {
  box-shadow: none;
}

:active:focus-visible {
  box-shadow: none;
}

:disabled {
  pointer-events: none;
  opacity: .65;
  color: #193061;
  background-color: transparent;
}

:not([class]):after {
  border-radius: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  height: 2px;
  content: "";
  bottom: 0;
  background-color: currentcolor;
}

:not([class]):hover:after {
  animation: underline .4s cubic-bezier(.5, 0.5, 0.5, 1.45);
  animation-range-end: normal;
  animation-range-start: normal;
  animation-timeline: auto;
}

:focus {
  outline: none;
  box-shadow: none;
}

:host {
  z-index: 1;
}

  }
  
  
  .btn-header {
    color:{{settings.brand_color_softwhite}}; /* Preserved as requested */
  }
  /* Ensure dropdown is properly formatted and visible when toggled */
  
  @media (min-width: 768px) {
  	html #mobile-menu-toggle {
  		display: none;
  	}
  }
  
  @media (max-width: 768px) {
    /* Styles specific for mobile devices */
    #mobile-menu {
      display: none;
    }
    #mobile-menu.is-active {
          display: flex;
          position: absolute;
          margin-top: 300px;
          background: white;
          width: 100%;
          left: 0;
          padding: 20px;
          z-index: 200;
          gap: 15px;
  				box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    }
  }
</style>

<nav class="anchore-bg p-2 md:p-4">
  <div class="container mx-auto flex justify-between items-center px-2 md:px-4">
    <div class="flex items-center">
      <!-- Logo, dynamically populated via Curlybars -->
      <a href="{{help_center.url}}" class="text-white text-lg"><img src="{{settings.logo}}" style="width:20vh; height:auto;"></a>
    </div>

    <!-- Hamburger menu button -->
    <button id="mobile-menu-toggle" class="hamburger hamburger--squeeze md:hidden" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <!-- Dropdown menu, hidden by default and shown when hamburger is clicked -->
    <div id="mobile-menu" class="md:flex flex-col md:flex-row md:items-center md:space-x-4 hidden">
      <!-- Navigation links, dynamically populated via Curlybars -->
      {{#unless signed_in}}
          
            {{#link "sign_in" class="text-black md:text-white"}}
              {{t 'sign_in'}}
            {{/link}}
          
        {{/unless}}
      {{#if signed_in}}
       {{#link "requests" role="menuitem" class="text-black md:text-white"}}
      		View requests
      	{{/link}}
        {{contact_details role="menuitem" class="text-black md:text-white"}}
          {{change_password role="menuitem" class="text-black md:text-white"}}
          {{link "sign_out" role="menuitem" class="text-black md:text-white"}}
      {{/if}}
      {{link 'new_request' class='text-black md:text-white'}}
     
      {{#if settings.header_one}}
        <a href="{{settings.header_one}}" class="text-black md:text-white">{{settings.header_one_title}}</a>
      {{/if}}
      {{#if settings.header_two}}
        <a href="{{settings.header_two}}" class="text-black md:text-white">{{settings.header_two_title}}</a>
      {{/if}}
      {{#if settings.header_three}}
        <a href="{{settings.header_three}}" class="text-black md:text-white">{{settings.header_three_title}}</a>
      {{/if}}
      {{#if settings.header_four}}
        <a href="{{settings.header_four}}" class="text-black md:text-white anchore-cta-header-links">{{settings.header_four_title}}</a>
      {{/if}}
      {{#if settings.header_five}}
        <a href="{{settings.header_five}}" class="text-black md:text-white anchore-cta-header-links">{{settings.header_five_title}}</a>
      {{/if}}
    </div>
  </div>
</nav>

<script>
  document.getElementById('mobile-menu-toggle').addEventListener('click', (e) => {
    const menu = document.getElementById('mobile-menu');
    menu.classList.toggle('hidden'); 
  	menu.classList.toggle('is-active')
    event.currentTarget.classList.toggle('is-active'); 
  });
</script>

