<style>
    .article-card {
      background-color: {{settings.brand_color_softwhite}};
      border-radius: 22px;
      /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      transition: box-shadow 0.3s ease-in-out;*/
      padding: 20px;
      margin-bottom: 20px; /* Space between cards */
    }

    .article-card:hover {
      background-color:{{settings.brand_color_purewhite}};
    }


    .article-section {
      background-color: {{settings.brand_color_softwhite}};
      border-radius:22px;
      padding:1rem;
      border: 1px solid {{settings.brand_color_slategrey}};
    }

</style>
<section class="anchore-bg p-12">
  <div class="container mx-auto flex flex-wrap items-center px-6">
    <!-- Left Column -->
    <div class="w-full lg:w-1/2 text-center lg:text-left px-4 md:px-0">
    	<h1 class="mb-4 anchore-hero-header">{{section.name}}</h1>
        <div class="max-w-md mx-auto lg:mx-0">
          <img src="https://anchore.com/wp-content/themes/anchore/images/search-dark.svg" class="absolute z-50 mt-6 ml-4" alt="Search" width="18" height="18">
          {{search submit=false placeholder="Search for documentation here"}}
        </div>
      </div>
    </div>
</section>

<section class="container mx-auto py-4 px-6">
  {{breadcrumbs}}
</section>

<div class="container mx-auto py-4 px-6">
  <div>
    <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">{{section.name}}</h2>
      <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 sm:gap-8 px-5">
      {{#each section.sections}}
        <a href="{{url}}" class="leading-6 card-link transform transition duration-300 ease-in-out bg-transparent border border-gray-400 px-4 py-4 shadow-sm hover:bg-white hover:scale-105 hover:shadow-lg hover:border-transparent hover:shadow-outline hover:font-semibold hover:text-black next-card-title rounded-lg">
       
      <span class="text-lg font-semibold text-gray-800 group-hover:text-indigo-600">{{this.name}}</span>
          <p class="text-base card-text-description line-clamp-2">{{this.description}}</p>
    </a>
  {{/each}}
</div>
    <dl class="mt-5 md:mt-10 space-y-6 divide-y divide-gray-900/10">
      {{#each section.articles}}
      <div class="pt-6">
        <dt>
          <button type="button" class="flex w-full items-start justify-between text-left text-gray-900" aria-controls="article-{{id}}" aria-expanded="false">
            <span class="text-base font-semibold leading-7">{{title}}</span>
            <span class="ml-6 flex h-7 items-center">
              <svg class="{{#if @first}}hidden{{/if}} h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
              </svg>
              <svg class="{{#unless @first}}hidden{{/unless}} h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
              </svg>
            </span>
          </button>
        </dt>
        <dd class="mt-2 pr-12 {{#unless @first}}hidden{{/unless}}" id="article-{{id}}">
          <p class="text-base leading-7 text-gray-600">{{excerpt body}}</p>
          <a href="{{url}}" class="block my-4 underline">View article here</a>
        </dd>
      </div>
      {{/each}}
    </dl>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll('button[aria-controls]').forEach(button => {
    button.addEventListener('click', () => {
      const articleId = button.getAttribute('aria-controls');
      const content = document.getElementById(articleId);
      const isExpanded = button.getAttribute('aria-expanded') === 'true';
      
      button.setAttribute('aria-expanded', !isExpanded);
      content.classList.toggle('hidden');
      
      button.querySelectorAll('svg').forEach(icon => icon.classList.toggle('hidden'));
    });
  });
});
</script>


<div class="container mx-auto py-4 md:py-0 px-6">
  <div class="py-8">
     
      </div>
  {{#if section.sections}}
      {{#each section.sections}}
        <section id="{{this.id}}" class="pt-4 pb-14 mb-12 bg-white">
          <h2 class="section-subtitle">{{this.name}}</h2>
          <ul class="list-none pl-0 mt-7 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-2 gap-4" subsection={{this.id}}>
            {{!-- Iterate through articles in this section --}}
            {{#each this.articles}}
              <li>
                <a href="{{url}}" class="section-item-bullet flex gap-6">
                		<span class="flex align-center">•</span>
                    <span class="flex">{{this.title}}</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/each}}
  {{/if}}

  				
</div>
